.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
    }
    &__logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 7px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Rubik'  , sans-serif;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        column-gap: 60px;
        align-items: center;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        column-gap: 60px;
    }
    &__item{
        font-family: 'DM Sans' , sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
    }
    &__item:hover{
        color: grey;
    }
    &__btn{
        background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
        width: 132px;
        height: 42px;
        border-radius: 5px;
        color: #F9FAFB;
        font-size: 14px;
        font-family: 'DM Sans' , sans-serif;
        font-weight: 500;
        border: none;
    }
    &__btn:hover{
        background: linear-gradient(90.35deg, #0c46c5 0.36%, #9810ad 201.02%);
    }
}
