.email{
    padding-top: 120px;
    &__inner{
        padding: 50px 0 38px 0;
        background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
        box-shadow: 0px 22px 18px 0px #0000000D;
        border-radius: 34px;
    }
    &__title{
        font-family: 'DM Sans' , sans-serif;
        font-weight: 700;
        font-size: 42px;
        line-height: 54.68px;
        color: #fff;
        text-align: center;
        background: transparent;
        margin-bottom: 13px;
    }
    &__text{
        color: #fff;
        background: transparent;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        font-weight: 400;
        opacity: 0.8;
        margin-bottom: 29px;
    }
    &__input-sub{
        display: flex;
        background: transparent;
        position: relative;
    }
    &__input{
        width: 860px;
        height: 80px;
        border-radius: 70px;
        box-shadow: 10px 24px 54px 0px #00000012;
        border: none;
        background: 
        linear-gradient(97.12deg, rgba(255, 255, 255, 0.08) -3.52%, rgba(255, 255, 255, 0.07) 100.35%);
        padding: 25px 0 25px 44px;
        margin: 0 auto;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Rubik' , sans-serif;
    }
    &__input::placeholder{
        color: #fff;
        font-size: 18px;
        font-weight: 400;
    }
    &__btn{
        position: absolute;
        left: 875px;
        top: 10px;   
        width: 196px;
        height: 60px;
        border-radius: 70px;
        opacity: 0.9;
        background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
        border: none;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Rubik' , sans-serif;
    }
    &__btn::before{
        content: '';
        width: 14px;
        height: 14px;
        margin: 0 8px 0 0;
        background-image: url("../../Assets//images//telegram.png");
        display: inline-block;
    }
}

